.imgSmall {
  height: 250px;
}
.imgMedium {
  height: 360px;
}
.imgLarge {
  height: 512px;
}
.iframe {
  height: 70vh;
  width: 100%;
  background: #fff;
}
.text-left{
  text-align: start;
}
/* Text Colors */
.text-red {
  color: #f00;
}
.text-green {
  color: #0f0;
}

.text-blue {
  color: #00f;
}

.text-yellow {
  color: #ff0;
}


